body{
    height: 100%;
    width:100%;
    padding:0;
    margin:0;
    overflow: auto;
}
.icon{
    margin-left: 15px;
    border-radius: 25%;
    border: solid white 3px;
    transition: all 0.2s ease;
}
.icon:hover{
    transform: scale(1.2); 
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.content {
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 2%;
}
#navbar{
    margin-bottom: 25px;
}
#main-text{
    margin-left: 10%;
    margin-right: 0%;
    text-align: left;
    font-size: 5rem;
}
#exptext{
    margin-left: 10%;
    margin-right: 25%;
    text-align: left;
}
#nav-button{
    transition: all 0.2s ease;
    margin-right:15px;
    position: relative;
}
#nav-button::after {
    content: '';
    position: absolute;
    transition: background-color 0.2s ease;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
}
#nav-button:hover::after {
    background-color: white;
}
#nav-button:hover{
    transform: scale(1.2);
    color: white;
    margin-right: 15px;
}
#see{
    justify-content: left;
    text-align: left;
    margin-left: 8.5%;
    border-radius: 0%;
    padding:0;
}
#see-content{
    transition: all 0.2s ease;
}
#see-content:hover{
    color: white;
    transform: scale(1.1); 
}
.footer-tray {
    margin-bottom: 10%;
    margin-left: 9%;
    width: 100%;
    color: white;
    text-align: left;
}

.footer-tray a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.footer-tray a:hover {
    color: #ddd;
    border-bottom: solid white;
}

.social-icon {
    display: inline-block;
    padding: 10px;
    transition: color 0.2s;
}
.contme{
    color: white;
    text-decoration: none;
}
.contme:hover{
    color: white;
   text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    #main-text {
        text-align: center;
        margin-left: 4%;
    }

    #exptext {
        text-align: center;
        margin-left: 8.5%;
        margin-right: 3%;
    }

    #see {
        justify-content: left;
        text-align: center;
        margin-left: 8.5%;
        border-radius: 0%;
        padding: 0;
    }

    #see-content:hover {
        border-bottom: solid white;
        color: white;
        border-radius: 0%;
    }

    .d-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-link {
        margin-bottom: 10px;
    }

    .icon {
        visibility: hidden;
    }
    #nav-button{
        align-items: center;
    }
}
@media only screen and (max-width: 991.75px) {
    .icon {
        visibility: hidden;
    }
}
  
  